.viewCont {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black 1px solid;
    padding: 10px;
  }
  
  .viewContDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    margin-left: 10px;
    margin-top: 35px;
    /* border: none; */
  }
  
  .viewContTable {
    /* border: #000 1px solid; */
    margin: 20px;
    box-shadow: 0 0 10px rgb(146, 145, 145);
  
    /* border: none; */
  }
  
  .viewContTable thead {
    background-color: #07076e;
    color: white;
    border: #000 1px solid;
    padding: 10px;
  }
  
  .viewContTable th {
    text-align: center;
    margin: 10px;
    padding: 10px 20px;
  }
  
  .viewContTable td {
    padding: 10px 20px;
  }
  
  .editBtn {
    border: none;
    border-radius: 7px;
    padding: 5px 20px;
    background-color: #07076e;
    color: #fff;
    align-self: center;
  }
  
  .viewContTable .DelBtn {
    border: 1px solid #07076e;
    color: #07076e;
    border-radius: 7px;
    padding: 5px 20px;
    background-color: white;
    align-self: center;
  }
  .ant-modal .ant-modal-content {
    position: relative;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 0;
    border-radius: 8px;
    width: 500px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    pointer-events: auto;
    padding: 0;
  }
  .ant-modal-footer button {
    display: none;
  }
  
  .biur-this-container {
    filter: blur(5px);
  }
  .editEmp {
    z-index: 3;
    backdrop-filter: 5px;
    position: absolute;
    top: 20%;
    left: 50%;
    background-color: white;
  }
  .viewPop {
    position: absolute;
    background-color: #75757590;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .viewEmpData {
    position: relative;
    background-color: white;
    border-radius: 7px;
    width: 350px;
    padding: 40px 30px 30px;
  }
  .closeView {
    position: absolute;
  
    top: 10px;
    right: 20px;
    height: 25px;
    width: 25px;
    text-align: center;
    color: black;
    border-radius: 5px;
  }
  .closeView:hover {
    color: white;
    background-color: red;
    cursor: pointer;
  }
  .empData {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
  }
  .empData label {
    font-weight: bold;
  }
  .editEmp {
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .editEmp .visible {
    display: flex;
  }
  
  .editEmpform {
    padding: 20px;
    width: 500px;
    height: 400px;
    box-shadow: 0 0 10px rgb(146, 145, 145);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .editEmpInp {
    margin: 10px;
    height: 40px;
    width: 250px;
    border-radius: 5px;
    padding: 0px 20px;
    outline: none;
    border: none;
    transition: border-radius 0.4s;
    box-shadow: 0 0 5px rgb(124, 123, 123);
  }
  .editEmpInp:focus,
  .editEmpInp:active {
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(124, 123, 123);
  }
  
  .editEmpSelect {
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 5px rgb(124, 123, 123);
  }
  
  .editEmp .subButton {
    margin-top: 20px;
    border: none;
    border-radius: 7px;
    padding: 5px 20px;
    background-color: #288ca7;
    transition: background-color 0.3s;
    color: #fff;
    align-self: center;
  }
  .ant-modal-close {
    margin-top: 15px;
    margin-right: 15px;
  }
  
  .invalidMsg {
    color: red;
    font-size: 12px;
  }
  
  .cancelBtn {
    border: none;
    border-radius: 7px;
    padding: 0.5px 9px;
    background-color: #cf2620;
    transition: background-color 0.3s;
    color: #fff;
    align-self: center;
    position: absolute;
    right: 5px;
    top: 5px;
  }