@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.navBar {
  background-color: #495057;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px #ddd;
  height: 60px;
  padding: 0 40px;
  font-size: 20px;
}
.logo {
  height: 40px;
  margin-right: 10px;
}
.vts-emp-data {
  height: fit-content;

  /* width: fit-content; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.vts-emp-data img {
  margin: 0px 7px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

/* Hero-section */

/* .heroSection {
  display: flex;
} */
/* .dashboard {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  width: 20vw;
  /* border: solid #ddd;
  border-width: 0 2px 0 0;
}
.userDetails {
  font-size: 14px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
}
.userProfile {
  align-self: center;
  margin: 20px;
  width: 80px;
  height: 80px;
  box-shadow: 0 0 10px #ddd;
  border-radius: 40px;
}
.userData {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  justify-content: space-between;
  gap: 5px;
}
.userData label {
  font-weight: 600;
  margin-right: 30px;
}
.dashLinks {
  /* margin-top: 30px; 
  border-top: solid 2px #ddd;
  width: 100%;
  overflow-y: scroll;
  
}
.dashLinks::-webkit-scrollbar {
  display: none;
}
.dashLink {
  border-bottom: solid 2px #ddd;
}
.dashLink p {
  padding: 15px 40px;
  margin: 0;
}
.dashLink:hover {
  cursor: pointer;
  background-color: #bbb;
  font-weight: 700;
}
.dashLink:hover .dashDropDownList {
  display: block;
  transition: ease-in-out 0.5s;
}
.dashDropDownList {
  display: none;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  transition: ease-in-out 0.5s;
} */
/* .dashDropDownList li {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 15px 0;
  background-color: #ddd;
  border-top: solid 1px #bbb;
  padding-left: 60px;
  font-size: 14px;
  font-weight: 100;
  width: 100%;
  transition: ease-in-out 0.5s;
}
.dashDropDownList li:hover {
  background-color: #ccc;
  transition: ease-in-out 0.5s;
}
.dashDropDownList li::before {
  content: "➜";
  position: absolute;
  opacity: 0;
  right: 20px;
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}
.dashDropDownList li:hover::before {
  opacity: 1;
  transform: rotate(0deg);
  cursor: pointer;
} */

/* Employee-Page */

/* Dashboard-Page */

.dashBoardPage {
  background-color: #dadcdf;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 30px 20px;
}
.loginCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px #bbb;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px 30px;
  margin: 10px 0;
}
.loginCard .wish {
  font-weight: 900;
  font-size: 17px;
  margin-top: 10px;
}

.loginCard p {
  margin: 8px 0;
}

.login-user b {
  /* padding-bottom: 10px;
  font-size: 15px;
  font-weight: 500; */
  margin-top: 3px;
  font-size: 14px;
}
.login-user p {
  margin-top: -1px;
  font-size: 12px;
}

.loginCont {
  display: flex;
  align-items: center;

  /* gap:2px; */
}

.loginTime b {
  margin-top: 3px;
  font-size: 12px;
}
.loginTime p {
  margin-top: -1px;
  font-size: 12px;
}

.loginCont img {
  height: 30px;
  margin-right: 10px;
  margin-bottom: 8px;
}

/* change */
.leavescard {
  padding-top: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  /* align-items: center; */
  /* justify-content: center; */
}
.leavescard .leave-card {
  display: flex;
  margin: 1px;
  width: 33%;
  gap: 5px;
  margin-top: 1px;
  margin-bottom: -20px;
  /* padding-top: 5px; */
  /* flex-direction: column; */
  justify-content: space-between;
  /* align-items: center; */
}
/* change */

.logtimescard {
  display: flex;
  gap: 50px;
}
.logtimescard .loginCont {
  margin: 0px 4px;
  font-size: 12px;
}
.anouncements {
  background-color: #fff;
  margin: 20px 5px;
  border-collapse: collapse;
  text-align: center;
  border-radius: 10px;
  height: 40vh;
  padding-right: 20px;
}
.anouncements th {
  background-color: #bbb;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
}
.anouncements tr {
  padding-right: 20px;
}

/* Pay-Roll */

.paySlipCont {
  display: flex;
  width: calc(100vw - 300px);
}
.payRollDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 60px);
  overflow-x: hidden;
  overflow-y: scroll;
  border-right: solid 2px #ddd;
  padding: 0 20px;
}
.payRollDetails::-webkit-scrollbar {
  display: none;
}
.dateFilter {
  margin-top: 30px;
}
.dateFilter select {
  padding: 3px;
}
.dateFilter input[type="date"] {
  /* border: 1px solid #ccc; */
  /* border-radius: 4px;_ */
  padding: 5px;
  font-size: 16px;
  margin-left: 10px;
}
.dataTable {
  margin-top: 7px;
  text-align: center;
  border: solid 1px #999;
  border-spacing: 0;
  border-collapse: collapse;
  border-radius: 30px;
}
.dataTable thead {
  background-color: #bbb;
}
.dataTable th {
  padding: 10px 20px;
  border: solid 1px #999;
}
.dataTable td {
  padding: 10px;
}
.dataTable span:hover {
  color: rgb(0, 140, 140);
  text-decoration: underline;
  cursor: pointer;
}
.payRollPreview {
  flex-grow: 1;
  justify-self: flex-end;
  height: calc(100vh - 70px);
  overflow-y: scroll;
}
.payRollPreview::-webkit-scrollbar {
  display: none;
}
.pdfView {
  width: 50%;
}
.noData {
  display: flex;
  height: calc(100vh - 70px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #00000060;
}
.tableBtns img {
  width: 25px;
  margin: 0 10px;
}
.tableBtns img:hover {
  cursor: pointer;
}

/* Generate payroll */

.upload-container {
  width: calc(100vw - 300px);
  height: calc(100vh - 60px);
  overflow: scroll;
}
.upload-container::-webkit-scrollbar {
  display: none;
}
.uploadHeader {
  border: solid rgb(213, 203, 203);
  border-width: 3px 0;
  padding: 20px 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(236, 233, 233);
}
.upload-button {
  width: 110px;
  display: inline-block;
  padding: 10px 10px;
  background-color: #07076e;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.upload-button:hover {
  background-color: #1f6d85;
}
.checkbox-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.checkbox-item {
  width: 25%;
  cursor: pointer;
  margin: 3px;
  display: flex;
  align-items: center;
}
.checkbox-item label {
  margin-left: 5px;
}
.formInput input[type="file"] {
  padding: 10px;
  border: 1px solid #288ca7;
  border-radius: 4px;
  cursor: pointer;
  width: 70%;
}
.error-message {
  color: red;
  margin-bottom: 20px;
}
.selected-file {
  margin-top: 20px;
  font-weight: bold;
}
.main-content {
  display: flex;
  justify-content: space-around;
}
.left-panel {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 2px solid rgb(165, 165, 165);
  border-radius: 10px;
  margin: 20px 5px 20px 5px;
}
.right-panel {
  margin: 20px 30px 20px 5px;
  padding: 10px 10px;
  border-radius: 10px;
  border: 2px solid rgb(165, 165, 165);
}
.dropdown-filter {
  margin-top: 20px;
  width: 100%;
}
.dropdown-filter select {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #288ca7;
  outline: none;
  border-radius: 4px;
}
.search-filter {
  margin-top: 20px;
}
.search-filter input {
  padding: 10px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  border: 1px solid #288ca7;
  border-radius: 4px;
}
.suggestions-box {
  border: 1px solid #ccc;
  border-top: none;
  width: 100%;
  max-width: 368px;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.suggestion-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.suggestion-item:hover {
  background-color: #f0f0f0;
}
.form-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
}
.form-field {
  width: 140px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-field label {
  margin-bottom: 5px;
}
.form-field input {
  padding: 8px;
  border: 1px solid #288ca7;
  border-radius: 4px;
  outline: none;
}
.save-button {
  background-color: #288ca7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.5s;
}
.save-button:hover {
  background-color: #1f6d85;
}
.selected-data {
  margin-top: 40px;
  width: 650px;
  height: 50vh;
  overflow-x: scroll;
}
.selected-data table {
  width: 100%;
  border-collapse: collapse;
  position: relative;
}
.selected-data th,
.selected-data td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.selected-data td {
  width: fit-content;
}
.selected-data th {
  background-color: #f2f2f2;
}
.selected-data tr:nth-child(even) {
  background-color: #f9f9f9;
}
.selected-data tr:hover {
  background-color: #e2e2e2;
  cursor: pointer;
}
.download-button {
  background-color: #288ca7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.5s;
}
.download-button:hover:hover {
  background-color: #1f6d85;
}
.generate-payroll-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.generate-payroll-button {
  background-color: #44c33d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s;
  margin: 40px 0px 10px 0px;
}
.generate-payroll-button:hover {
  background-color: #2f772b;
}

/* Leave-Page */

.leaveCont {
  background-color: #ddd;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.leaveFilters {
  margin-bottom: 30px;
}
.leaveFilters select,
.leaveFilters input {
  padding: 8px;
  margin-right: 15px;
  border-radius: 10px;
  border: solid 1px #000;
}
.leaveTable {
  background-color: #fff;
  text-align: center;
  border-collapse: collapse;
}
.leaveTable th {
  background-color: #bbb;
  padding: 10px 20px;
}
.leaveTable td {
  padding: 10px 20px;
}
.leaveTable img {
  width: 20px;
}

.aprvBtn {
  border: none;
  background-color: #07076e;
  color: white;
  border-radius: 20px;
  font-size: 14px;
  padding: 2px 10px;
  margin-right: 10px;
}
.dclBtn {
  border: solid 1px #07076e;
  background-color: white;
  color: #07076e;
  border-radius: 20px;
  font-size: 14px;
  padding: 2px 10px;
  transition: color 0.3s, background-color 0.3s;
}
/* .dclBtn:hover {
  background-color: #f00;
  color: #fff;
} */
.aprvStatus {
  font-size: 14px;
}
.aprvStatus img {
  margin-right: 5px;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.popup-content textarea {
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  margin: 10px 0;
}
.popup-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.popup-buttons button {
  padding: 2px 15px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}
.closeBtn {
  background-color: red;
  color: white;
}
.saveBtn {
  background-color: #0f0;
  color: white;
}
/* Leave-From */

.leaveForm {
  position: relative;
  background-color: #fff;
  padding: 60px 20px 40px;
  overflow: hidden;
  border-radius: 10px;
}
.formHeader {
  position: absolute;
  padding: 10px 20px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #bbb;
}
.flex {
  display: flex;
  margin-bottom: 2px;
}
.formInp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.formInp input {
  margin: 0 20px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px #000;
  outline: none;
  padding: 10px;
}

.formBtnCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  /* border-radius: 7px; */
  /* border: 2px solid; */
  padding: 5px 50px;
  /* width: 100%; */
  transition: border 0.3s, background-color 0.3s, color 0.3s;
}
.formSubBtn {
  background-color: #07076e;
  color: white;
  border-radius: 7px;
  border: 2px solid;
  padding: 5px 20px;
}
/* .formSubBtn:hover {
  color: #2f772b;
  background-color: #fff;
  border-color: #07076e;
} */
.formCancelBtn {
  background-color: white;
  color: #07076e;
  border-radius: 7px;
  border: 2px solid;
  padding: 5px 20px;
}
/* .formCancelBtn:hover {
  color: #f00e;
  background-color: #fff;
  border-color: #f00e;
} */

.btnGrp {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.genBtn {
  position: absolute;
  opacity: 1;
  height: 40px;
  width: 100px;
  transition: height 1s ease, opacity 1s ease, width 1s ease;
}
.hideButton {
  opacity: 0;
  height: 15px;
  width: 200px;
}
.progressBar {
  width: 200px;
  box-shadow: 0 0 5px #ddd !important;
}

.Payslip-SignUp {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.PaySlip-Table {
  margin-top: 20px;
  /* border-radius: 50px; */
  /* width: 100px; */
}

.credentials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 20%; */
}
.credentials input {
  /* width:100px; */
  margin: 10px;
  height: 40px;
  width: 250px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0px 20px;
  outline: none;
  border: none;

  transition: border-radius 0.4s;
  box-shadow: 0 0 5px rgb(124, 123, 123);
}
.credentials input:focus,
.credentials input:active {
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(124, 123, 123);
}
.credentials button {
  margin: 10px;
  height: 40px;
  width: 250px;
  background-color: rgb(100, 102, 170);
  border: none;
  color: aliceblue;
  border-radius: 5px;
  transition: box-shadow 0.3s;
}
.credentials button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgb(100, 102, 170);
}
p {
  font-size: small;
}
p:hover {
  cursor: pointer;
}
.otpverify input {
  width: 125px;
}
.otpverify input:focus,
.otpverify input:active {
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(124, 123, 123);
}
.otpverify button {
  width: 100px;
}

/* AddEmployee */

.excel-reader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw - 300px);
  justify-content: center;
}
.excel-reader-file-input {
  /* display: none; */
  border-radius: 7px;
  padding: 6px;
  /* box-shadow: 0 0 10px rgb(124, 123, 123); */
}
.excel-upload-btn {
  border: none;
  background-color: #07076e;
  color: #fff;
  border-radius: 7px;
  padding: 5px 20px;
  margin: 20px 0;
}

.excel-form-container {
  box-shadow: 0 0 10px #bbb;
  border-radius: 7px;
  padding: 30px;
  width: 450px;
  display: flex;
  flex-direction: column;
  /* margin-left: 50px; */
  /* justify-content: center;
  align-items: center; */
}
.excel-form-group {
  border-radius: 3px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.excel-form-group input {
  border: solid 1px #000;
  width: 200px;
  padding: 5px;
  border-radius: 7px;
}

.excel-form-group select {
  border: solid 1px #000;
  width: 200px;
  padding: 5px;
  border-radius: 7px;
}
.warningMsg {
  font-size: 12px;
  color: red;
  padding: 0 20px;
  margin: -5px 0;
  align-self: flex-end;
}
.submit-button {
  margin-top: 20px;
  border: none;
  border-radius: 7px;
  padding: 5px 20px;
  background-color: #07076e;
  transition: background-color 0.3s;
  color: #fff;
  align-self: center;
}
.submit-button:hover {
  background-color: #1f6d85;
  cursor: pointer;
}

/* login-page component style code */

.banner-image-for-login {
  margin-top: -8vh;
  margin-left: -13vh;
  height: 14vw;
  animation: slideLeft 1s ease-in-out;
}
.VTS-Title {
  letter-spacing: 10px;
  font-family: "Encode Sans Semi Expanded", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.login-page-vl {
  width: 2px;

  height: 70vh;
  background-color: grey;
  border-radius: 60%;
  margin: 5% 0;
  animation: slideDown 1s ease-in-out;
}
.login-main {
  animation: slideRight 1s ease-in-out;
}
.Payslip-SignUp {
  display: flex;
  height: fit-content;
  width: fit-content;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  /* flex-direction: column; */
  margin: 8vh 5vw;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(146, 145, 145);
  background-color: white;
}
.ant-pagination {
  display: none !important;
}
.login-name {
  background: linear-gradient(
    30deg,
    rgb(141, 77, 47),
    rgb(98, 192, 201),
    rgb(73, 172, 175)
  );
  background-clip: text;
  color: transparent;
}
.login-comp {
  background-color: #757575;
}

.credentials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.credentials input {
  margin: 20px;
  height: 40px;
  width: 270px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0px 20px;
  outline: none;
  border: none;

  transition: border-radius 0.4s;
  box-shadow: 0 0 5px rgb(124, 123, 123);
}
.credentials button {
  margin: 10px;
  height: 40px;
  width: 280px;
  background-color: rgb(100, 102, 170);
  border: none;
  color: aliceblue;
  border-radius: 5px;
  transition: box-shadow 0.3s;
}
.credentials button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgb(100, 102, 170);
}
.viewCont {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black 1px solid;
  padding: 10px;
}

.viewContDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  margin-left: 10px;
  /* margin-top: 35px; */
  /* border: none; */
  width: 95%;
}

.viewContTable {
  /* border: #000 1px solid; */
  margin: 20px;
  box-shadow: 0 0 10px rgb(146, 145, 145);
  width: 95%;
  border-radius: 7px;
  overflow: hidden;

  /* border: none; */
}

.viewContTable thead {
  background-color: #07076e;
  color: white;
  border: #000 1px solid;
  padding: 10px;
}

.viewContTable th {
  text-align: center;
  margin: 10px;
  padding: 10px 20px;
}

.viewContTable td {
  padding: 10px 20px;
}

.editBtn {
  border: none;
  border-radius: 7px;
  padding: 5px 20px;
  background-color: #07076e;
  color: #fff;
  align-self: center;
}
.DelBtn {
  border: 1px solid #07076e;
  margin: 10px;
  color: #07076e;
  border-radius: 7px;
  padding: 5px 20px;
  background-color: white;
  align-self: center;
}
.viewContTable .DelBtn {
  border: 1px solid #07076e;
  color: #07076e;
  border-radius: 7px;
  padding: 5px 20px;
  background-color: white;
  align-self: center;
}
.ant-modal .ant-modal-content {
  position: relative;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 0;
  border-radius: 8px;
  width: 500px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  pointer-events: auto;
  padding: 0;
}


.ant-modal-footer button {
  display: none;
}

.biur-this-container {
  filter: blur(5px);
}
.editEmp {
  z-index: 3;
  backdrop-filter: 5px;
  position: absolute;
  top: 20%;
  left: 50%;
  background-color: white;
}

.viewPop {
  position: absolute;
  background-color: #75757590;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.viewEmpData {
  position: relative;
  background-color: white;
  border-radius: 7px;
  width: 350px;
  padding: 40px 30px 30px;
}
.closeView {
  position: absolute;

  top: 10px;
  right: 20px;
  height: 25px;
  width: 25px;
  text-align: center;
  color: black;
  border-radius: 5px;
}
.closeView:hover {
  color: white;
  background-color: red;
  cursor: pointer;
}
.empData {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}
.empData label {
  font-weight: bold;
}
.editEmp {
  display: none;
  justify-content: center;
  align-items: center;
}

.editEmp .visible {
  display: flex;
}

.editEmpform {
  padding: 20px;
  width: 500px;
  height: 400px;
  box-shadow: 0 0 10px rgb(146, 145, 145);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.editEmpInp {
  margin: 10px;
  height: 40px;
  width: 250px;
  border-radius: 5px;
  padding: 0px 20px;
  outline: none;
  border: none;
  transition: border-radius 0.4s;
  box-shadow: 0 0 5px rgb(124, 123, 123);
}
.editEmpInp:focus,
.editEmpInp:active {
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(124, 123, 123);
}

.editEmpSelect {
  padding: 5px 20px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0 5px rgb(124, 123, 123);
}

.editEmpSelect select {
  width: 250px;
  outline: none;
  border: none;
  padding: 3px;
}

.editEmp .subButton {
  margin-top: 20px;
  border: none;
  border-radius: 7px;
  padding: 5px 20px;
  background-color: #288ca7;
  transition: background-color 0.3s;
  color: #fff;
  align-self: center;
}
.ant-modal-close {
  margin-top: 15px;
  margin-right: 15px;
}

.invalidMsg {
  color: red;
  font-size: 12px;
}

.cancelBtn {
  border: none;
  border-radius: 7px;
  padding: 0.5px 9px;
  background-color: #cf2620;
  transition: background-color 0.3s;
  color: #fff;
  align-self: center;
  position: absolute;
  right: 5px;
  top: 5px;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-60%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-60%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(+60%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* 2nd version styling  */
.heroSection {
  display: flex;
  height: 100vh;
  background-color: #f0f2f5;
}

.dashboard {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 20vw; /* Sidebar width */
  border-right: 1px solid #e0e0e0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  padding: 20px 0;
}

.dashLinks {
  /* padding-left: 5px; */
  width: 100%;
}
.dashLink {
  margin-bottom: 2px;
  z-index: 1;
  position: relative;
  /* border-bottom: 1px solid #ddd; */
  padding: 17px 25px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out,
    color 0.3s ease-in-out;
  text-align: left;
  display: flex;
  align-items: center;
  height: 60px;
  flex-direction: row;
  width: 100%;
}
.dashLinks .dashlink-heading {
  color: #868e96;
  padding: 0 30px;
}
.dashLinks .dashlink-heading hr {
  color: #495057;
}
.dashLink span {
  margin-left: 10px;
}

.dashLink:hover {
  cursor: pointer;
  background-color: #74c0fc;
  color: white;
  transform: translateX(10px);
}

.dashLink:hover span {
  color: white;
}

.dashLink.active {
  background-color: #1c7ed6;
  color: white;
  font-weight: 600;
}

.dashDropDownList li {
  padding: 12px;
  background-color: #f5f5f5;
  font-size: 14px;
  color: #555;
  border-top: 1px solid #ddd;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.dashDropDownList {
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 10;
}

.dashLink:hover .dashDropDownList {
  display: block; /* Show on hover */
  background-color: white;
}

.dashDropDownList li:hover {
  background-color: #d9d9d9;
  color: #1890ff;
}

/* Remove the highlight effect on the dropdown */
.dashLink:hover .dashHighlight {
  display: none;
}

/* AddEmployee */

.excel-reader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw - 300px);
  justify-content: center;
}
.excel-reader-file-input {
  /* display: none; */
  border-radius: 7px;
  padding: 6px;
  /* margin-bottom: 30px; */
  /* box-shadow: 0 0 10px rgb(124, 123, 123); */
}
.excel-upload-btn {
  border: none;
  background-color: #07076e;
  color: #fff;
  border-radius: 7px;
  padding: 5px 20px;
  margin: 20px 0;
}
.excel-multiple-data {
  box-shadow: 0 0 10px #bbb;
  padding: 3px 15px;
  margin-top: 50px;
  margin-bottom: 10px;
  width: 400px;
  border-radius: 7px;
  align-items: center;
}

.ant-modal-title{
  align-self: center;
}

.addMultipleCont{
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addMultipleCont h6{
  margin-top: 30px;
}
.addMultipleCont p{
  margin-top: 20px;
}


.excel-form-container {
  box-shadow: 0 0 10px #bbb;
  border-radius: 7px;
  padding: 30px;
  width: 450px;
  display: flex;
  flex-direction: column;
}
.excel-form-group {
  border-radius: 3px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.excel-form-group input {
  border: solid 1px #000;
  width: 200px;
  padding: 5px;
  border-radius: 7px;
}

.excel-form-group select {
  border: solid 1px #000;
  width: 200px;
  padding: 5px;
  border-radius: 7px;
}
.warningMsg {
  font-size: 12px;
  color: red;
  padding: 0 20px;
  margin: -5px 0;
  align-self: flex-end;
}
.submit-button {
  margin-top: 20px;
  border: none;
  border-radius: 7px;
  padding: 5px 20px;
  background-color: #07076e;
  transition: background-color 0.3s;
  color: #fff;
  align-self: center;
}
.submit-button:hover {
  background-color: #1f6d85;
  cursor: pointer;
}
.ant-modal .ant-modal-title {
  padding-top: 20px;
  margin-left: 40px;
}

.ant-modal-content .ant-modal-title{
  display: flex;
  justify-content: center;
}

.ant-modal-content .ant-modal-close {
  margin-bottom: 15px;
  margin-right: 15px;
}