body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.navBar {
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px #ddd;
  height: 60px;
  padding: 0 40px;
  font-size: 20px;
}
.logo {
  height: 40px;
  margin-right: 10px;
}

/* Hero-section */

.heroSection {
  display: flex;
}
.dashboard {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  width: 300px;
  border: solid #ddd;
  border-width: 0 2px 0 0;
}
.userDetails {
  font-size: 14px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
}
.userProfile {
  align-self: center;
  margin: 20px;
  width: 80px;
  height: 80px;
  box-shadow: 0 0 10px #ddd;
  border-radius: 40px;
}
.userData {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}
.userData label {
  font-weight: 600;
  margin-right: 30px;
}
.dashLinks {
  margin-top: 30px;
  border-top: solid 2px #ddd;
  width: 100%;
  overflow-y: scroll;
}
.dashLinks::-webkit-scrollbar {
  display: none;
}
.dashLink {
  border-bottom: solid 2px #ddd;
}
.dashLink p {
  padding: 15px 40px;
  margin: 0;
}
.dashLink:hover {
  cursor: pointer;
}
.dashLink:hover .dashDropDownList {
  display: block;
}
.dashDropDownList {
  transition: display 0.6s ease-in-out;
  display: none;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.dashDropDownList li {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 15px 0;
  background-color: #ddd;
  border-top: solid 1px #bbb;
  padding-left: 60px;
  width: calc(100% - 60px);
}
.dashDropDownList li:hover {
  background-color: #bbb;
}
.dashDropDownList li::before {
  content: '➜';
  position: absolute;
  opacity: 0;
  right: 20px;
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}
.dashDropDownList li:hover::before {
  opacity: 1;
  transform: rotate(0deg);
  cursor: pointer;
}

/* Dashboard-Page */

.dashBoardPage {
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 30px 100px;
}
.loginCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 5px #bbb;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0;
}
.loginCard p {
  margin: 8px 0;
}
.loginCont {
  display: flex;
  align-items: center;
}
.loginCont img {
  height: 30px;
  margin-right: 20px;
}
.anouncements {
  background-color: #fff;
  margin: 20px 30px;
  border-collapse: collapse;
  text-align: center;
}
.anouncements th {
  background-color: #bbb;
  padding: 10px 0;
}
.anouncements img {
  width: 80px;
  margin: 10px 0;
}
.anouncements img:hover {
  cursor: pointer;
}

/* Pay-Roll */

.paySlipCont {
  display: flex;
  width: calc(100vw - 300px);
}
.payRollDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 60px);
  overflow-x: hidden;
  overflow-y: scroll;
  border-right: solid 2px #ddd;
  padding: 0 20px;
}
.payRollDetails::-webkit-scrollbar {
  display: none;
}
.dateFilter {
  margin-top: 30px;
}
.dateFilter input[type="date"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
  margin-left: 10px;
}
.dataTable {
  margin-top: 30px;
  text-align: center;
  border: solid 1px #999;
  border-spacing: 0;
  border-collapse: collapse;
  border-radius: 30px;
}
.dataTable thead {
  background-color: #bbb;
}
.dataTable th {
  padding: 10px 20px;
  border: solid 1px #999;
}
.dataTable td {
  padding: 10px;
}
.dataTable span:hover {
  color: rgb(0, 140, 140);
  text-decoration: underline;
  cursor: pointer;
}
.payRollPreview {
  flex-grow: 1;
  justify-self: flex-end;
  height: calc(100vh - 70px);
  overflow-y: scroll;
}
.payRollPreview::-webkit-scrollbar {
  display: none;
}
.pdfView {
  width: 50%;
}
.noData {
  display: flex;
  height: calc(100vh - 70px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #00000060;
}
.tableBtns img {
  width: 25px;
  margin: 0 10px;
}
.tableBtns img:hover {
  cursor: pointer;
}

/* Generate payroll */

.upload-container {
  width: calc(100vw - 300px);
  height: calc(100vh - 60px);
  overflow: scroll;
}
.upload-container::-webkit-scrollbar {
  display: none;
}
.uploadHeader {
  border: solid rgb(213, 203, 203);
  border-width: 3px 0;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(236, 233, 233);
}
.upload-button {
  display:inline-block;
  padding: 10px 20px;
  background-color: #288ca7;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.upload-button:hover {
  background-color: #1f6d85;
}
.checkbox-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 60%;
}
.checkbox-item {
  cursor: pointer;
  margin: 10px;
  display: flex;
  align-items: center;
}
.checkbox-item label {
  margin-left: 5px;
}
.formInput input[type="file"] {
  padding: 10px;
  border: 1px solid #288ca7;
  border-radius: 4px;
  cursor: pointer;
  width: 70%;
}
.error-message {
  color: red;
  margin-bottom: 20px;
}
.selected-file {
  margin-top: 20px;
  font-weight: bold;
}
.main-content {
  display: flex;
  justify-content: space-around;
}
.left-panel {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 2px solid rgb(165, 165, 165);
  border-radius: 10px;
  margin: 20px 5px 20px 5px;
}
.right-panel {
  margin: 20px 30px 20px 5px;
  padding: 10px 10px;
  border-radius: 10px;
  border: 2px solid rgb(165, 165, 165);
}
.dropdown-filter {
  margin-top: 20px;
  width: 100%;
}
.dropdown-filter select {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #288ca7;
  outline: none;
  border-radius: 4px;
}
.search-filter {
  margin-top: 20px;
}
.search-filter input {
  padding: 10px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  border: 1px solid #288ca7;
  border-radius: 4px;
}
.suggestions-box {
  border: 1px solid #ccc;
  border-top: none;
  width: 100%;
  max-width: 368px;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.suggestion-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.suggestion-item:hover {
  background-color: #f0f0f0;
}
.form-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
}
.form-field {
  width: 140px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-field label {
  margin-bottom: 5px;
}
.form-field input {
  padding: 8px;
  border: 1px solid #288ca7;
  border-radius: 4px;
  outline: none;
}
.save-button {
  background-color: #288ca7; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  transition:  background-color 0.5s;
}
.save-button:hover {
  background-color:  #1f6d85; 
}
.selected-data {
  margin-top: 40px;
  width: 650px;
  height: 50vh;
  overflow-x:scroll;
}
.selected-data table {
  width: 100%;
  border-collapse: collapse;
  position: relative;
}
.selected-data th,
.selected-data td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left; 
}
.selected-data td {
  width: fit-content;
}
.selected-data th {
  background-color: #f2f2f2;
}
.selected-data tr:nth-child(even) {
  background-color: #f9f9f9;
}
.selected-data tr:hover {
  background-color: #e2e2e2;
  cursor: pointer;
}
.download-button {
  background-color: #288ca7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  transition:  background-color 0.5s;

}
.download-button:hover:hover {
  background-color: #1f6d85;
}
.generate-payroll-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.generate-payroll-button {
  background-color: #44c33d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition:  background-color 0.5s;
  margin: 40px 0px 10px 0px;
}
.generate-payroll-button:hover{
  background-color: #2f772b;
}


/* Leave-Page */

.leaveCont {
  background-color: #ddd;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.leaveFilters {
  margin-bottom: 30px;
}
.leaveFilters select, .leaveFilters input {
  padding: 8px;
  margin-right: 15px;
  border-radius: 10px;
  border: solid 1px #000;
}
.leaveTable {
  background-color: #fff;
  text-align: center;
  border-collapse: collapse;
}
.leaveTable th {
  background-color: #bbb;
  padding: 10px 20px;
}
.leaveTable td {
  padding: 10px 0;
}
.leaveTable img {
  width: 20px;
}

/* Leave-From */

.leaveForm {
  position: relative;
  background-color: #fff;
  padding: 60px 20px 40px;
  overflow: hidden;
  border-radius: 10px;
}
.formHeader {
  position: absolute;
  padding: 10px 20px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #bbb;
}
.flex {
  display: flex;
}
.formInp, .formDesp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.formInp input {
  margin: 0 20px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px #000;
}
.formDesp input {
  height: 30px;
  border-radius: 5px;
  width: 100%;
  border: solid 1px #000;
  margin: 0 20px;
}
.formBtn {
  border-radius: 20px;
  border: 2px solid;
  padding: 8px 20px;
  margin-left: 20px;
  font-weight: bold;
  transition: border 0.3s, background-color 0.3s, color 0.3s;
}
.formSubBtn {
  background-color: #44c33d;
  color: white;
}
.formSubBtn:hover {
  color: #2f772b;
  background-color: #fff;
  border-color: #2f772b;
}
.formCancelBtn {
  background-color: #f00d;
  color: white;
}
.formCancelBtn:hover {
  color: #f00e;
  background-color: #fff;
  border-color: #f00e;
}
